@charset "UTF-8";

body {
    max-width: 1000px;
    background-color: rgb(59, 59, 59);
    text-align: center;
    font-family: 'Montserrat';
    color: white;
    margin: auto;
    font-size: 16pt;
}
h1 {
    background-color: grey;
}
br {
    margin-top: 120%;
}
a {
    color: white;
}
.container img {
    max-width: 20px;
    height: auto;
}
.perfil img {
    width: 200px;
    height: 200px;
}
.container{
    line-height: 1.4em;
}